/* ---------------- login & register style -----------------*/
.auth-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 5rem 0rem;
}

.auth-container .card {
  display: flex;
  background-color: whitesmoke;
  border-radius: 1rem;
  width: 50rem;
}

.auth-container .card_info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  background-image: var(--bgcolor);
  transition: 0.5s linear;
  width: 15em;
  height: 20em;
  min-width: 20vw;
  max-width: 40vw;
  max-height: 50vh;
  padding: 0 0.5rem;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  color: white;
}

.auth-container .card_info p {
  width: 90%;
  text-align: center;
}

.auth-container .card_input {
  flex-grow: 1;
  transition: 0.5s linear;
}

.auth-container .card_image {
  position: absolute;
  top: -0.7rem;
}

.auth-container .card_image img {
  width: 10rem;
  height: 7rem;
  object-fit: contain;
  z-index: 1;
}

.auth-container .form_title {
  text-align: center;
  margin: 1rem;
  font-size: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 25px;
  transition: 0.4s ease-in;
}

.form .input {
  width: 250px;
}

.form .btn_container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  gap: 1rem;
}

.card_reverse {
  flex-direction: row-reverse;
  height: 27rem;
}
.card_reverse .card_image {
  top: -0.8rem;
}

.card_reverse .card_info {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 5em;
  border-bottom-left-radius: 5rem;
  height: 27em;
  max-height: 27rem;
}

.form .error {
  margin-top: 0.2rem;
  margin-bottom: -0.5rem;
  width: 250px;
}
.btn_forgot {
  background-color: transparent;
  border: none;
  color: dimgray;
  font-weight: 500;
  cursor: pointer;
}
.btn_forgot:hover {
  color: brown;
  font-size: 0.7rem;
  text-decoration: underline;
}

/* for small devices */
@media only screen and (max-width: 600px) {
  .auth-container .card {
    flex-direction: column;
    width: 22rem;
    height: 90vh;
  }
  .auth-container .card_info {
    gap: 0.5rem;
    height: 13em;
    min-width: 20rem;
    margin: 0 auto;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 5rem;
  }
  .card_reverse .card_info {
    border-bottom-right-radius: 5rem;
    border-top-left-radius: 1em;
    height: 25em;
    padding: 0.8rem;
    max-height: 25rem;
  }
  .card_reverse .form .btn {
    margin-top: -0.2rem;
  }
}

/* for medium devices */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .auth-container .card {
    width: 37rem;
  }
}

/* for large devices */
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .auth-container .card {
    width: 45rem;
  }
}
