/* table view  */
.content {
  margin-top: 1rem;
  width: 100%;
  font-size: small;
  text-align: center;
}
.content thead td {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  font-weight: bold;
  padding: 0.5rem;
  text-align: center;
  border-radius: 1cqb;
}

.content tbody td {
  padding: 0.3rem;
  border-bottom: 1px solid lightgray;
}

.content tbody td:nth-child(1) {
  text-align: left;
  padding-left: 0.5rem;
}

.content tr:nth-child(odd) {
  background-color: rgba(213, 213, 203, 0.166);
}

.content .edit-btn,
.content .delete-btn {
  font-size: 1rem;
  text-align: center;
  transition: 0.6s ease-in-out;
  cursor: pointer;
}

.content .edit-btn:hover,
.content .delete-btn:hover {
  color: goldenrod;
  transform: scale(1.1);
}

.content td.is-banned p {
  padding: 0.5rem;
  text-align: center;
  border-radius: 2rem;
  width: fit-content;
  margin: 0 auto;
}

.content td.is-banned .active-user {
  background-color: rgba(0, 128, 0, 0.281);
}

.content td.is-banned .in-active-user {
  background-color: rgba(163, 59, 33, 0.324);
}
.content tfoot td {
  background-color: rgba(255, 255, 255, 0.567);
  border-radius: 4rem;
}

/* product & category page style */
.product-action,
.category-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-btn {
  position: absolute;
  left: 0.3rem;
  height: 2.3rem;
  top: 0.1rem;
}
.search-container {
  position: relative;
}
.search-input {
  padding-right: 1rem;
  padding-left: 2.25rem;
}

.product-row .product-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.category-row .category-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.dashboard-content .product-info div,
.dashboard-content .category-info div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.dashboard-content .product-info div p,
.dashboard-content .category-info div p {
  width: 100%;
}
.product-content.content tr:nth-child(odd) {
  background-color: white;
}
.product-row .product-info img {
  width: 60px;
}
.dashboard-content .category-info .category-name {
  font-size: large;
  font-weight: 500;
}

.dashboard-content .category-content tbody {
  height: 50vh;
  max-height: 450px;
  display: block;
  overflow: scroll;
  scroll-behavior: smooth;
}

/* user filter part */
.user-filter form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.user-filter span {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.user-filter select.input {
  padding: 0.2rem;
}

/* for small devices */
@media only screen and (max-width: 600px) {
  .content .create-at {
    display: none;
  }
}

/* for medium devices */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .content {
    font-size: 0.7rem;
  }
}

/* for large devices */
@media only screen and (min-width: 900px) {
}
