.dashboard-layout .container {
  background-color: rgb(255, 255, 255);
  width: 80%;
  margin: 1rem auto 4rem;
  padding: 1rem;
  transition: 0.4s linear;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.dashboard-layout h1 {
  padding: 0.5rem;
  font-weight: 700;
  border-bottom: 2px solid gray;
  margin-bottom: 1rem;
}

/* cart style  */
.cart-card,
.order-card {
  width: 100%;
  font-size: small;
  text-align: center;
}

.cart-card thead td,
.order-card thead td {
  font-weight: bold;
  padding: 0.3rem;
}

.cart-card tbody td,
.order-card tbody td {
  padding: 0.1rem;
  border-bottom: 1px solid lightgray;
}

.cart-card tbody td:nth-child(2) {
  text-align: left;
}

.cart-card img {
  width: 50px;
  height: 50px;
}
.checkout {
  padding: 1rem;
}
.cart-card tfoot td {
  text-align: left;
}
.address-info,
.payment-info {
  display: flex;
  background-color: rgba(109, 111, 111, 0.033);
  justify-content: space-between;
  border-radius: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
}
.payment-method div {
  margin: 1rem;
}
.confirm-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.confirm-order .nav-link {
  color: gray;
}
.confirm-order .nav-link:hover {
  color: brown;
}
.cart-card .delete-btn,
.order-card .delete-btn {
  background-color: transparent;
  border: none;
  color: darkred;
  font-size: 0.9rem;
  transition: 0.6s ease-in-out;
  cursor: pointer;
}

.cart-card .delete-btn:hover {
  color: goldenrod;
  transform: scale(1.5);
}

.cart-card .no-content {
  padding: 1rem;
}

.cart-page {
  display: flex;
  max-width: 60rem;
  align-items: center;
  margin: 2rem auto 2rem;
  gap: 1rem;
  transition: 0.5s linear;
}
.dashboard-layout .cart {
  margin: 0rem auto;
}
.payment-card {
  /* width: 500px; */
  border-radius: 1rem;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.payment-card .error {
  margin-top: -1rem;
}

.cart-card thead,
.cart-card tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

/* .cart-card tbody {
  display: block;
  max-height: 30vh;
  overflow-y: auto;
} */
.cart-card .update-quantity_btn {
  border: none;
  background-color: transparent;
  width: 20%;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}
.update-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.cart-card .update-quantity_btn:hover {
  color: goldenrod;
}
/* end Cart style */

/* order style  */
.order-card {
  text-align: left;
  height: 23vh;
}

.order-card tbody td {
  padding: 0.3rem;
}

.order-card .delete-btn:hover {
  color: goldenrod;
  transform: scale(1.2);
}
.order-card .no-content p {
  margin-bottom: 1rem;
  color: darkred;
}
/* end order */

/* shop style */
.shop-container h1 {
  width: 80%;
  text-align: center;
  background-color: white;
  margin: 1rem auto 2rem;
}

/* for small devices */
@media only screen and (max-width: 600px) {
  .dashboard-layout .container {
    width: 95%;
  }
  .cart-total {
    display: none;
  }
  .cart-card img {
    width: 35px;
    height: 35px;
  }
  .cart-page {
    flex-direction: column;
    width: 90%;
  }
}
/* for medium devices */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .dashboard-layout .container {
    width: 93%;
  }
  .cart-card img {
    width: 40px;
    height: 40px;
  }
  .cart-card tbody,
  tfoot {
    font-size: 0.7rem;
  }
  .cart-page {
    flex-direction: column;
    width: 90%;
  }
}

/* for larger devices */
@media only screen and (min-width: 900px) and (max-width: 1279px) {
  .cart-page {
    flex-direction: column;
    width: 90%;
  }
}
