.product-detail {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 800px;
  margin: 4rem auto;
}

.detail-container {
  width: 95%;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}
.title {
  font-weight: 900;
}
.detail-container img {
  width: 300px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  gap: 1rem;
}

.info p {
  text-align: justify;
}

.action {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.action .quantity {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: var(--bgcolor);
  color: white;
  border-radius: 10px;
}
.action h3 {
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.quantity button {
  border-radius: 10px;
  color: white;
  background: transparent;
  border: none;
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.quantity button:hover {
  background-color: var(--color);
  font-size: 2.2rem;
}

.review-product {
  width: 50rem;
  margin: 0 auto;
  padding: 1rem;
  transition: 0.5s linear;
}
.review-product h2 {
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid rgba(211, 211, 211, 0.571);
  margin-bottom: 1rem;
}
.review-container p {
  margin: 0.5rem auto;
  background-color: rgba(211, 211, 211, 0.341);
  padding: 1rem;
  border-radius: 10rem;
  cursor: alias;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  font-size: small;
}

.review-container .no-review {
  background-color: transparent;
}

.review-container .no-review:hover {
 background-color: rgba(211, 211, 211, 0.183);
}

.review-container p:hover {
  background-color: rgba(211, 211, 211, 0.676);
}

/* for small devices */
@media only screen and (max-width: 600px) {
  .product-detail {
    width: 450px;
    height: 130vh;
    margin: 1rem auto;
  }
  .detail-container {
    flex-direction: column;
    height: 120vh;
  }
  .detail-container img {
    width: 170px;
  }
  .review-product {
    width: 90%;
  }
}

/* for medium devices */

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .product-detail {
    width: 600px;
  }
  .detail-container {
    gap: 1rem;
  }
  .detail-container img {
    width: 220px;
  }

  .info {
    width: 280px;
  }
  .action {
    margin-top: 5%;
    gap: 0.5rem;
    flex-direction: column;
  }
  .review-product {
    width: 70%;
  }
}

/* for large devices */
@media only screen and (min-width: 900px) and (max-width: 1200px) {
}
