.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

/* ------------------Common style for all app-----------------*/

/* Link tag style */
.nav-link {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.nav-link:hover {
  color: #c08261;
  text-decoration: underline;
  font-weight: bold;
}

/* pagination style */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0.5rem;
  gap: 0.2rem;
}

.page-item .page-link {
  padding: 0 0.5rem;
  font-size: 1rem;
  border: none;
  background-color: transparent;
  transition: 0.3s ease-out;
}

.page-item .page-link:hover {
  color: coral;
  font-size: 1.1rem;
}

/* Button tag style */
.btn {
  display: flex;
  align-items: center;
  padding: 0.7rem;
  background-image: var(--bgbtn);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  gap: 0.5rem;
  border: none;
  text-decoration: none;
  color: aliceblue;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.btn:hover {
  background-image: var(--bgbtn-hover);
}

/* input tag style */
.input {
  border: none;
  border-radius: 10px;
  padding: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  outline: none;
}

.input:focus {
  border: none;
  box-shadow: rgba(132, 73, 1, 0.952) 0px 1px 4px, rgb(25, 25, 25) 0px 0px 0px;
}

/* error style */
.error {
  font-weight: bold;
  color: darkred;
  font-size: 0.6rem;
}

/* ----------- header style -------------*/
header {
  background-image: var(--bgcolor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  color: white;
}
header .nav-link {
  margin-right: 19px;
}

header .header-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo img {
  width: 12rem;
}

.header-navbar span {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  letter-spacing: 0.1rem;
}

/* ---------------footer style-----------------*/
footer {
  display: grid;
  margin-top: auto;
  grid-template-columns: repeat(3, 33.3%);
  background-image: var(--bgcolor);
  color: white;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
  position: relative;
}
footer img {
  width: 7rem;
}

.footer-copy {
  font-size: 0.5rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

footer section,
footer form {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer form {
  margin: 0 auto;
}
.footer-logo p {
  text-align: center;
  width: 80%;
  font-size: 1rem;
}

footer .contact-link {
  display: flex;
  gap: 1rem;
}

/* ---------------heroSection style---------------- */
.hero-section {
  background-image: var(--bgcolor);
  top: 1px;
  /* height: 55vh; */
  position: relative;
  display: flex;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px solid var(--color);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  transition: 0.2s ease-in-out;
}

.hero-text {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  color: white;
  z-index: 8;
}
.hero-text h1 {
  font-style: italic;
}
.hero-text p {
  width: 20rem;
  align-items: center;
}
.hero-text h1::first-letter {
  font-size: 3.5rem;
  color: #c08261;
}
.hero-text .btn {
  font-size: 20px;
  margin-top: 1rem;
}

.hero-images {
  position: relative;
}
.hero-images img {
  width: 14rem;
  height: 50vh;
  margin: 0.1rem 3rem;
}
.front-image {
  position: relative;
  z-index: 1;
  left: -3rem;
}
.back-image {
  position: absolute;
  right: 10rem;
  top: 2rem;
  -webkit-box-reflect: right;
}

/* for small devices */
@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
    gap: 1rem;
  }
  header .header-navbar {
    flex-direction: column;
  }
  .header-logo img {
    width: 10rem;
  }
  .hero-text {
    /* background-color: rgba(0, 0, 0, 0.735); */
    height: 26vh;
    padding: 2rem;
  }
  .hero-text h1 {
    font-size: 1rem;
  }
  .hero-text h1::first-letter {
    font-size: 2rem;
  }
  .hero-text p {
    width: 16rem;
  }
  .hero-images {
    display: none;
  }

  .hero-section {
    height: 30vh;
    flex-direction: column;
  }
  .hero-images img {
    width: 5rem;
    height: 25vh;
  }
  .btn,
  .hero-text .btn {
    font-size: 10px;
  }
  footer {
    grid-template-columns: repeat(1, 90%);
    gap: 1.5rem;
    font-size: 12px;
  }
  .contact-link {
    margin-bottom: 1rem;
  }
  footer img {
    width: 5rem;
  }
}

/* for medium devices */

@media only screen and (min-width: 600px) and (max-width: 900px) {
  header .nav-link {
    font-size: 12px;
  }
  .header-logo img {
    width: 8rem;
  }

  .hero-section {
    height: 40vh;
  }
  .hero-images img {
    width: 10rem;
    height: 35vh;
  }
  .front-image {
    left: -5rem;
  }
  .hero-text p {
    width: 17rem;
  }
  .btn,
  .hero-text .btn {
    font-size: 11px;
  }
  .nav-link {
    font-size: 15px;
  }

  footer {
    font-size: 15px;
  }
  footer img {
    width: 5rem;
  }
}

/* for large devices */
@media only screen and (min-width: 900px) {
  .hero-section {
    height: 40vh;
  }
  .hero-images img {
    height: 35vh;
  }
  .btn {
    font-size: 12px;
  }
}
