.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

/* ------------------Common style for all app-----------------*/

/* Link tag style */
.nav-link {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.nav-link:hover {
  color: #c08261;
  text-decoration: underline;
  font-weight: bold;
}

/* pagination style */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0.5rem;
  gap: 0.2rem;
}

.page-item .page-link {
  padding: 0 0.5rem;
  font-size: 1rem;
  border: none;
  background-color: transparent;
  transition: 0.3s ease-out;
}

.page-item .page-link:hover {
  color: coral;
  font-size: 1.1rem;
}

/* Button tag style */
.btn {
  display: flex;
  align-items: center;
  padding: 0.7rem;
  background-image: var(--bgbtn);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  gap: 0.5rem;
  border: none;
  text-decoration: none;
  color: aliceblue;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.btn:hover {
  background-image: var(--bgbtn-hover);
}

/* input tag style */
.input {
  border: none;
  border-radius: 10px;
  padding: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  outline: none;
}

.input:focus {
  border: none;
  box-shadow: rgba(132, 73, 1, 0.952) 0px 1px 4px, rgb(25, 25, 25) 0px 0px 0px;
}

/* error style */
.error {
  font-weight: bold;
  color: darkred;
  font-size: 0.6rem;
}

/* ----------- header style -------------*/
header {
  background-image: var(--bgcolor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  color: white;
}
header .nav-link {
  margin-right: 19px;
}

header .header-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo img {
  width: 12rem;
}

.header-navbar span {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  letter-spacing: 0.1rem;
}

/* ---------------footer style-----------------*/
footer {
  display: grid;
  margin-top: auto;
  grid-template-columns: repeat(3, 33.3%);
  background-image: var(--bgcolor);
  color: white;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
  position: relative;
}
footer img {
  width: 7rem;
}

.footer-copy {
  font-size: 0.5rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

footer section,
footer form {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer form {
  margin: 0 auto;
}
.footer-logo p {
  text-align: center;
  width: 80%;
  font-size: 1rem;
}

footer .contact-link {
  display: flex;
  gap: 1rem;
}

/* ---------------heroSection style---------------- */
.hero-section {
  display: flex;
  background-image: var(--bgcolor);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 60px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  margin: 10px;
  border-radius: 1rem;
}

.hero-text {
  max-width: 50%;
}
.hero-section .btn {
  width: fit-content;
  font-size: 1.3rem;
}
.hero-text h1 {
  font-size: 3rem;
  margin: 0;
  line-height: 1.2;
  color: white;
  animation: slideInLeft 1.5s ease-out;
}

.hero-text p {
  font-size: 1.3rem;
  margin: 20px 0;
  color: #aaa8a8;
  animation: slideInLeft 1.5s ease-out;
}

.hero-images {
  position: relative;
  width: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-images img {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(196, 180, 166, 0.542);
}

.hero-images .front-image {
  position: absolute;
  z-index: 2;
  transform: translateX(-100px);
}

.hero-images .back-image {
  transform: translateX(10px);
}

.hero-images img :hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(192, 78, 78, 0.2);
}
.hero-text h1::first-letter {
  font-size: 5rem;
  color: #c08261;
}

/* Keyframes for Animations */
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
    padding: 30px;
    gap: 1rem;
  }
  .hero-text,
  .hero-images {
    max-width: 100%;
  }
  .hero-text h1 {
    font-size: 1.7rem;
  }
  .hero-text p {
    font-size: 1rem;
  }
  .hero-text h1::first-letter {
    font-size: 3.5rem;
  }
  .hero-images {
    display: none;
  }
  .hero-section .btn {
    margin: 0 auto;
  }
}

/* for small devices */
@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
    gap: 1rem;
  }
  header .header-navbar {
    flex-direction: column;
  }
  .header-logo img {
    width: 10rem;
  }
  .btn,
  .hero-text .btn {
    font-size: 10px;
  }
  footer {
    grid-template-columns: repeat(1, 90%);
    gap: 1.5rem;
    font-size: 12px;
  }
  .contact-link {
    margin-bottom: 1rem;
  }
  footer img {
    width: 5rem;
  }
}

/* for medium devices */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  header .nav-link {
    font-size: 12px;
  }
  .header-logo img {
    width: 8rem;
  }
  .hero-text h1 {
    font-size: 2rem;
  }
  .hero-text p {
    font-size: 1.2rem;
  }
  .btn,
  .hero-text .btn {
    font-size: 11px;
  }
  .nav-link {
    font-size: 15px;
  }

  footer {
    font-size: 15px;
  }
  footer img {
    width: 5rem;
  }
}

/* for large devices */
@media only screen and (min-width: 900px) {
  .btn {
    font-size: 13px;
  }
}
